<div class="container">
    <div class="hero text-center my-4">
        <h1 class="display-5 fw-bold">Action Denied</h1>
        <p class="lead">You can't delete courses that have students enrolled in<em><span id="display-domain"></span></em>.
        </p>
    </div>
</div>
